{% extends 'base.html' %}


{% block title %} camera {% endblock title %}


{% block body %}

<div class="container" id="productsdetails">
    <div class="row">
        <div class="col-md-7">

            <img src="/static/images/camera.jpg.jpg" alt="" class="img-fluid" id="">
        </div>
        <div class="col-md-5">
            <h2>Nikon D5600 Digital Camera 18-55mm VR Kit (Black)</h2>

            <div class="discription mt-3">
                <p>
                    <span> Nikon D5600 Digital Camera 18-55mm VR Kit (Black)
                        <div class="rating my-3" style="justify-content: start;" >
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            
                        </div>
                        expressive movies, Shoot with more assured reliability, Always keep the eye in focus
                        -ON button and multi-selector, Comprehensive AF convenience, Anti-flicker shooting, Supports a wide range of needs in HDR movie production, High-resolution,
                        high-contrast XGA OLED Tru-Finder?Wi-Fi, NFC & Bluetooth, Dual slots with UHS-II compatibility</span>
                </p>

                <button type="button" class="btn btn-primary btn-lg  mt-4" id="addtocart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="navdis">
    <div class="row" id="navdis">
        <div class="col-md-10">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Discription</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Additional
                        information</button>
                </li>


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mb" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">
                    <ul class="mt-4">
                        <h5>Nikon D5600 Digital Camera 18-55mm VR Kit (Black)</h5>
                        <li>Edit videos on the fly (Shoot a clip, trim it right in the camera, send it to your phone and
                            post it without missing a beat.), Like two cameras in one.</li>
                        <li>Effective Pixels: 20.9 MP</li>
                        <li>Sensor Type: CMOS
                        <li>WiFi Available</li>
                        <li>UHD 4K</li>
                    </ul>
                </div>
                <div class="tab-pane fade  mt-4" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <p>Model : <b>Nikon D5600 Digital Camera 18-55mm VR Kit (Black)</b><br><br> I
                        In The Box
                        Nikon D5600 Digital Camera 18-55mm lens, Rechargeable Lithium-ion Battery, Battery
                        Charger, Camera Strap, Body Cap, Eye Cup<br><br> </p>
                    <ol>
                        <li>
                            <b> Image Sensor Technology:</b>

                            DX or FX format sensors for various crop factors and image quality levels.
                            High megapixel counts for detailed images.
                        </li>
                        <li> Advanced noise reduction algorithms for cleaner images in low light.</li>
                        <li> Multi-point AF systems for accurate and fast focusing.</li>
                        <li>Cross-type focus points for improved accuracy.</li>
                        <li>Face and eye detection for portraits.</li>
                        <li>Full HD and 4K video recording for high-quality video content.</li>
                        <li>Built-in Wi-Fi and Bluetooth for easy image sharing and remote control.</li>
                        <li> Additional ₹2,000 off for employees of select organisations.</li>
                    </ol>

                </div>

            </div>




        </div>
    </div>
</div>


<div class="container  mb-5 " id="also">
    <h2 class="text-center mb-5">You May Also Like</h2>
    <div class="row row-cols-1 row-cols-md-2  row-cols-lg-4 g-4  mb-4">
        <div class="col  bg-image hover-overlay hover-zoom hover-shadow ripple"><a href="charger"><img src="/static/images/charger.jpg"
                alt="" class="img-fluid " style="min-width:70%;"></a>
            <div class="des">
                <span>iPhone</span>
                <b><a href="charger">

                        <h5> charger</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="camera"><img src="/static/images/camera.jpg" alt="" class="img-fluid"></a>
            <div class="des">
                <span>Nikon</span>
                <b><a href="camera">

                        <h5>Camera</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="iphone"><img src="/static/images/iphone.png" alt="" class="img-fluid"></a>
            <div class="des">
                <span>iphone</span>
                <b><a href="iphone">

                        <h5>iphone 13 pro Max</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="smartwatch"><img src="/static/images/smartwatch.jpg" alt="" class="img-fluid"></a>
            <div class="des">
                <span>boat</span>
                <b><a href="smartwatch">

                        <h5>Smart Watch</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
    </div>
</div>




{% endblock body %}