{% extends 'base.html' %}

{% block title %} {{product.product_title}} {% endblock title %}

{% comment %} Total Length :: {{request.session.cart|length}} {% endcomment %}

{% block body %}
{% if request.session.cart|length < 1 %} <div class="container">
    <div class="row ">
        <div class="h-100 gradient-custom card-header">
            <hr>
            <h5 class=" fs-4 px-4 ">Your Cart item</h5>
            <hr>
        </div>
        <div class=" offset-lg-3 col-lg-6 col-md-12 col-12 text-center ">
            <div class="container" style="    width: 75%;
            height: 80%;">
                <img src="/static/images/empty_cart.jpg" alt="" class="img-fluid mb-4">
                <h2>Your shopping cart is empty</h2>
                <p class="mb-4">
                    Return to the store to add items for your delivery slot. Before proceed to checkout you must add
                    some products to your shopping cart. You will find a lot of interesting products on our shop page.
                </p>
                <a href="/products" class="btn btn-primary mb-5">Explore Products</a>
            </div>
        </div>
    </div>
    </div>
    {% else %}


    {% load cart_tag %}
    <section class="h-100 gradient-custom">
        <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Your Cart item</h5>
                        </div>

                        <div class="card-body">
                            <!-- Single item -->
                            {% for key,value in request.session.cart.items %}
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                        data-mdb-ripple-color="light">
                                        <img src="{{value.image}}" class="w-100"  />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->

                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>{{value.name}}</strong></p>

                                    <a href="{% url 'item_clear' key %}?next={{ request.get_full_path }}" type="button"
                                        class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                        title="Remove item">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    
                                    <!-- Data -->
                                    <p class="text-start text-md-center">
                                        <strong>Price :&nbsp;&nbsp; {{value.price}}</strong>
                                    </p>
                                </div>


                                <div class="col-lg-4 col-md-6 mb-2 mb-lg-0">
                                    <!-- Quantity -->
                                    <div class="d-flex mb-4  cart-quantity" style="max-width: 300px">
                                        <div class="cart-quantity-button"></div>
                                        <a href="{% url 'item_decrement' value.product_id %}"
                                            class=" cart-quantity-down  ms-2">
                                            <i class="bi bi-dash-lg"></i>
                                        </a>

                                        <div class="form-outline text-center">
                                            <span class="mt-2  pt-1">
                                                <input id="form1" min="0" name="qtybutton" value="{{value.quantity}}"
                                                    type="number" class="form-control text-center cart-plus-minus-box "
                                                    style="
        margin-left: 32px;
        width: 71%;
        padding-top: 6px;
        line-height: 0px;
    ">
                                            </span>
                                            <label class="form-label text-center" for="form1">Quantity</label>
                                        </div>


                                        <a href="{% url 'item_increment' value.product_id %}"
                                            class=" me-2   cart-quantity-up">
                                            <i class="bi bi-plus-lg"></i>
                                        </a>
                                    </div>
                                    <!-- Quantity -->

                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                        <strong>Sub Total: &nbsp;&nbsp;{{ value.price|multiply:value.quantity}}</strong>
                                    </p>
                                    <!-- Price -->
                                </div>

                            </div>
                            <!-- Single item -->

                            <hr class="my-4" />
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <a href="{% url 'cart_clear' %}" class="btn btn-danger mt-1 mb-1 me-4  "
                                    id="pr{{product.id}}">Clear Shopping Cart</a>
                                
                            </div>
                            <!-- Single item -->

                            <!-- Single item -->
                        </div>
                    </div>
                   
                  
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Total Products
                                    <span>{{request.session.cart|length}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Tax
                                    <span><i class="bi bi-currency-rupee"></i>280</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping charge
                                    <span><i class="bi bi-currency-rupee"></i>120</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including Tax)</p>
                                        </strong>
                                    </div>
                                    <span><strong><i
                                                class="bi bi-currency-rupee"></i>{{cart_total_amount|add:120}}</strong></span>
                                </li>
                            </ul>
                            <a href="/checkout" class="btn btn-success w-100  btn-block">
                                Go to checkout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endblock body %}