{% extends 'base.html' %}


{% block title %} camera {% endblock title %}


{% block body %}

<div class="container" id="productsdetails">
    <div class="row">
        <div class="col-md-7">

            <img src="/static/images/Mouse.jpg" alt="" class="img-fluid" id="">
        </div>
        <div class="col-md-5">
            <h2>Razer Deathadder Essential Gaming Mouse (Black)</h2>

            <div class="discription mt-3">
                <p>
                    <span> Razer Deathadder Essential Gaming Mouse (Black) 
                        Lightweight(96gms) ,Chroma Lighting,upto 6400 DPI Wired Optical Gaming Mouse  (USB 3.0, Black)
                        Rs. 83,980.00<br>
                        <div class="rating my-3" style="justify-content: start;" >
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            
                        </div>
                        Free Shipping (India)<br>
                        Brand New Unit(s)<br>
                        Price Includes GST<br>
                        EMI Payment Option Available<br>
                        3/6 Months - No Cost EMI on All Orders above 30,000
                    </span>
                </p>

                <button type="button" class="btn btn-primary btn-lg  mt-4" id="addtocart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="navdis">
    <div class="row" id="navdis">
        <div class="col-md-10">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Discription</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Additional
                        information</button>
                </li>


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mb" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">
                    <ul class="mt-4">
                        <h5>Razer Deathadder Essential Gaming Mouse (Black)</h5>
                        <li>THE ESSENTIAL GAMING MOUSE For more than a decade, the Razer DeathAdder line has been a mainstay in the global esports arena. It has garnered a reputation for reliability that gamers swear by due to its proven durability and ergonomics. Now, were making it even more accessible with its latest successorthe Razer DeathAdder Essential.</li>
                        <li>Effective Pixels: 20.9 MP</li>
                        <li>Sensor Type: CMOS
                        <li>WiFi Available</li>
                        <li>UHD 4K</li>
                    </ul>
                </div>
                <div class="tab-pane fade  mt-4" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <p>Model : <b>Death Adder Essential / Lightweight(96gms) ,Chroma Lighting,upto 6400 DPI</b><br><br> I
                        System Requirements&nbsp;:&nbsp;
                        Windows XP, Mac, OS<br><br> </p>
                    <ol>
                        
                        
                        <li> Razer Synapse 3.0 is better than Steelseries software.</li>
                        <li> Hypershift Button very useful (Razer Synapse)</li>
                        <li>Good buttons with tactile feedback</li>
                        <li>Wired</li>
                        <li>Interface: USB 3.0.</li>
                        <li>Optical Mouse.</li>
                        <li>7 Days Replacement Policy</li>
                        <li> Additional ₹2,000 off for employees of select organisations.</li>
                    </ol>

                </div>

            </div>




        </div>
    </div>
</div>


<div class="container  mb-5 " id="also">
    <h2 class="text-center mb-5">You May Also Like</h2>
    <div class="row row-cols-1 row-cols-md-2  row-cols-lg-4 g-4  mb-4">
        <div class="col  bg-image hover-overlay hover-zoom hover-shadow ripple"><a href="charger"><img src="/static/images/charger.jpg"
                alt="" class="img-fluid " style="min-width:70%;"></a>
            <div class="des">
                <span>iPhone</span>
                <b><a href="charger">

                        <h5> charger</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="camera"><img src="/static/images/camera.jpg" alt="" class="img-fluid"></a>
            <div class="des">
                <span>Nikon</span>
                <b><a href="camera">

                        <h5>Camera</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="iphone"><img src="/static/images/iphone.png" alt="" class="img-fluid"></a>
            <div class="des">
                <span>iphone</span>
                <b><a href="iphone">

                        <h5>iphone 13 pro Max</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="smartWatch"><img src="/static/images/smartwatch.jpg" alt="" class="img-fluid"></a>
            <div class="des">
                <span>boat</span>
                <b><a href="smartWatch">

                        <h5>Smart Watch</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
    </div>
</div>




{% endblock body %}