{% extends 'base.html' %}


{% block title %} camera {% endblock title %}


{% block body %}

<div class="container" id="productsdetails">
    <div class="row">
        <div class="col-md-7">

            <img src="/static/images/smartwatch.jpg" alt="" class="img-fluid" id="">
        </div>
        <div class="col-md-5">
            <h2>BOAt Wave Electra 1.81 Inch HD Display Cyan Smart Watch</h2>

            <div class="discription mt-3">
                <p>
                    <span> BOAt Wave Electra 1.81 Inch HD Display Smart Watch<br>
                        <div class="rating my-3" style="justify-content: start;" >
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            <i class="bi bi-star-fill clr"></i>
                            
                        </div>
                        Offer Price : ` 2,299<br>
                        Price : ` 7,990<br>
                        You Save ` 5,691 (71%)<br>
                        MRP: ` 7,990<br>
                        Free Shipping</span>
                </p>

                <button type="button" class="btn btn-primary btn-lg  mt-4" id="addtocart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="navdis">
    <div class="row" id="navdis">
        <div class="col-md-10">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Discription</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Additional
                        information</button>
                </li>


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mb" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">
                    <ul class="mt-4">
                        <h5>BOAt Wave Electra 1.81 Inch HD Display Cyan Smart Watch</h5>
                        <li>Precise health and fitness monitoring
                            Monitor sleep along with monitoring 24 hour uninterrupted heart rate, Blood oxygen level, and Blood Pressure. This watch is made specially for those who perform high-intensity workouts and require precise health and fitness monitoring.</li>
                        <li>Operating System - Android, iOS</li>
                        <li>Shape - Rectangular, Flat</li>
                        <li>Color - Cyan</li>
                        <li>Strap Material - Silicone</li>
                        <li>Heart Rate</li>
                        <li>UHD 4K</li>
                    </ul>
                </div>
                <div class="tab-pane fade  mt-4" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <p>Model : <b>BOAt Wave Electra 1.81 Inch HD Display Cyan Smart Watch</b><br><br>
                        The boAt Watch Storm is the perfect companion for your fitness transformation. Your Watch Storm is here to remove all obstructions that you may face in your fitness journey. With its daily activity tracker and 9 different sports modes, <br><br> </p>
                    <ol>


                        <li> 42mm(1.69 inch) HD Display|2.5D Curved Display|550 Nits Brightness|Lightweight: 35 gms</li>
                        <li> HMultiple Sports Modes: Walking, Running, Cycling, Climbing, Yoga, Basketball, Football, Badminton, Skipping & Swimming</li>
                        </li>
                        <li>Good buttons with tactile feedback</li>
                        <li>24H Heart Rate, SpO2 & Stress Monitoring|Sleep Tracker|Music & Camera Control</li>
                        <li>Interface: USB 3.0.</li>
                        <li>IP68 Dust, Sweat and Splash Resistant|Multiple Watch Face|Call, Text & Social Media Notifications</li>
                        <li>Touchscreen</li>
                        <li> Additional ₹2,000 off for employees of select organisations.</li>
                    </ol>

                </div>

            </div>




        </div>
    </div>
</div>



<div class="container  mb-5 " id="also">
    <h2 class="text-center mb-5">You May Also Like</h2>
    <div class="row row-cols-1 row-cols-md-2  row-cols-lg-4 g-4  mb-4">
        <div class="col  bg-image hover-overlay hover-zoom hover-shadow ripple"><a href="charger"><img src="/static/images/charger.jpg"
                alt="" class="img-fluid " style="min-width:70%;"></a>
            <div class="des">
                <span>iPhone</span>
                <b><a href="charger">

                        <h5> charger</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="camera"><img src="/static/images/camera.jpg" alt="" class="img-fluid"></a>
            <div class="des">
                <span>Nikon</span>
                <b><a href="camera">

                        <h5>Camera</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="iphone"><img src="/static/images/iphone.png" alt="" class="img-fluid"></a>
            <div class="des">
                <span>iphone</span>
                <b><a href="iphone">

                        <h5>iphone 13 pro Max</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
        <div class="col"><a href="smartWatch"><img src="/static/images/smartwatch.jpg" alt="" class="img-fluid"></a>
            <div class="des">
                <span>boat</span>
                <b><a href="smartWatch">

                        <h5>Smart Watch</h5>
                        <h4>$9679</h4>
                    </a>
                </b>
            </div>
        </div>
    </div>
</div>




{% endblock body %}